<h1>Pic's</h1>
<ul class="-list">
  {{#each this}}
    <li>{{content}}</li>
  {{/each}}
</ul>

<form class="create-post-form">
  <textarea class="create-post-content" cols="30" rows="10"></textarea>
  <input type="submit">
</form>